.button {
  transition:none;
  box-shadow:none;
  animation: none;
}

.button:hover,
.button:active,
.button:checked {
  transition:none;
  animation: none;

  background-image: none;
}

.button:focus {
  outline-style: none;
  outline-width: 0;
  box-shadow: none;
}
